In [71]:
import pandas as pd 
import numpy as np 
import geopandas as gpd 
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import censusdata
warnings.simplefilter(action="ignore", category=FutureWarning)
%matplotlib inline

In [72]:
income = pd.read_csv('/Users/ananyarajesh/Desktop/MLC_Data/FINALFINAL/Income.csv')

In [73]:
pea = pd.read_csv('/Users/ananyarajesh/Desktop/MLC_Data/FINALFINAL/poverty_ea.csv')

In [74]:
race = pd.read_csv('/Users/ananyarajesh/Desktop/MLC_Data/FINALFINAL/Race.csv')

In [75]:
sd = pd.read_csv('/Users/ananyarajesh/Desktop/MLC_Data/FINALFINAL/streetdensity.csv')

In [76]:
crime = pd.read_csv('/Users/ananyarajesh/Desktop/MLC_Data/FINALFINAL/NTA_Aggregated_Crime_Complaints2019.csv')

In [77]:
income.columns

Index(['NTAName_left', 'Population', 'Weighted Median Income'], dtype='object')

In [78]:
pea.columns

Index(['NTAName', 'PovPop', 'Below Poverty Line %', 'EAPop',
       'Bachelor degree'],
      dtype='object')

In [79]:
race.columns

Index(['NTAName_y', 'Total', 'White, not hispanic',
       'Black or African American, not hispanic',
       'American Indian and Alaska Native, not hispanic',
       'Asain, not hispanic',
       'Native Hawaiian and Other Pacific Islander, not hispanic',
       'Some other race alone, not hispanic',
       'Two or More Races, not hispanic', 'Hispanic or Latino'],
      dtype='object')

In [80]:
sd.columns

Index(['NTAName', 'Normalized'], dtype='object')

In [81]:
crime.columns

Index(['Unnamed: 0', 'NTAName', 'Total_NYPD_Complaints'], dtype='object')

In [82]:
race = race.rename(columns = {'NTAName_y':'NTAName'})

In [83]:
income = income.rename(columns = {'NTAName_left':'NTAName'})

In [84]:
crime = crime.drop('Unnamed: 0', axis=1)

In [85]:
crime

                                    NTAName  Total_NYPD_Complaints
0                                  Allerton                   1852
1                           Alley Pond Park                     30
2    Annadale-Huguenot-Prince's Bay-Woodrow                    781
3                   Arden Heights-Rossville                    424
4                         Astoria (Central)                   1723
..                                      ...                    ...
229             Windsor Terrace-South Slope                    502
230                               Woodhaven                   1106
231                       Woodlawn Cemetery                    203
232                                Woodside                   1432
233         Yankee Stadium-Macombs Dam Park                    544

[234 rows x 2 columns]

In [86]:
m = pd.merge(income, pea, on='NTAName')

In [87]:
mm = pd.merge(m, race, on='NTAName')

In [88]:
merged = pd.merge(mm, sd, on='NTAName')

In [89]:
merged = merged.rename(columns = {'Normalized':'NormalizedSD'})

In [90]:
M = pd.merge(merged, crime, on='NTAName')

In [91]:
M

,NTAName,Population,Weighted Median Income,PovPop,Below Poverty Line %,EAPop,Bachelor degree,Total,"White, not hispanic","Black or African American, not hispanic","American Indian and Alaska Native, not hispanic","Asain, not hispanic","Native Hawaiian and Other Pacific Islander, not hispanic","Some other race alone, not hispanic","Two or More Races, not hispanic",Hispanic or Latino,NormalizedSD,Total_NYPD_Complaints
0,Allerton,3117.473684,62141.291295,36057,24.602712,29883,7.867349,62155,14.763092,38.169093,0.109404,4.709195,0.008044,0.933151,2.067412,39.240608,2.700146,1852
1,Alley Pond Park,4118.636364,107518.289372,42,7.142857,39,0.000000,90,65.555556,3.333333,0.000000,6.666667,0.000000,0.000000,0.000000,24.444444,1.627803,30
2,Annadale-Huguenot-Prince's Bay-Woodrow,5090.315789,126245.529571,44139,5.965246,35230,15.509509,53872,72.772498,7.441714,0.252450,8.438521,0.000000,1.020939,1.522127,8.551752,0.235762,781
3,Arden Heights-Rossville,4266.533333,123022.836526,31583,4.344109,5547,11.934379,30539,75.487082,0.533744,0.065490,7.881725,0.088412,0.160451,0.887390,14.895707,0.627650,424
4,Astoria (Central),3012.892857,99753.770961,47297,10.717382,46478,31.552563,129518,48.189441,12.619868,0.175265,9.288284,0.006949,0.413842,2.672988,26.633364,2.017487,1723
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,Williamsbridge-Olinville,3314.289474,57061.063497,61710,21.040350,57664,8.546060,114951,16.928952,48.229246,0.474985,9.212621,0.156588,0.718567,2.015641,22.263399,1.173722,3877
189,Williamsburg,4570.125000,119312.391337,63211,15.759915,57774,29.705404,94307,47.328406,2.397489,0.010604,9.308959,0.033932,0.311748,3.087788,37.521075,1.473846,2898
190,Windsor Terrace-South Slope,2884.850000,142219.077040,26973,7.881956,14065,24.464984,51440,66.121695,5.223561,0.000000,9.758942,0.000000,0.573484,3.339813,14.982504,2.778086,502
191,Woodhaven,2885.523810,74809.918179,41906,9.869708,40462,12.574762,114909,16.999539,7.339721,0.462975,31.157699,0.000000,0.865903,1.610840,41.563324,1.792787,1106
192,Woodside,3329.875000,77868.121044,48421,7.275769,43000,16.020930,197137,16.635132,17.036376,0.139497,13.109158,0.009131,0.497116,1.596352,50.977239,1.291016,1432

In [92]:
M = M.drop('PovPop', axis=1)

In [93]:
M['Total_NYPD_Complaints'] = M['Total_NYPD_Complaints'] / M['EAPop']

In [94]:
M

,NTAName,Population,Weighted Median Income,Below Poverty Line %,EAPop,Bachelor degree,Total,"White, not hispanic","Black or African American, not hispanic","American Indian and Alaska Native, not hispanic","Asain, not hispanic","Native Hawaiian and Other Pacific Islander, not hispanic","Some other race alone, not hispanic","Two or More Races, not hispanic",Hispanic or Latino,NormalizedSD,Total_NYPD_Complaints
0,Allerton,3117.473684,62141.291295,24.602712,29883,7.867349,62155,14.763092,38.169093,0.109404,4.709195,0.008044,0.933151,2.067412,39.240608,2.700146,0.061975
1,Alley Pond Park,4118.636364,107518.289372,7.142857,39,0.000000,90,65.555556,3.333333,0.000000,6.666667,0.000000,0.000000,0.000000,24.444444,1.627803,0.769231
2,Annadale-Huguenot-Prince's Bay-Woodrow,5090.315789,126245.529571,5.965246,35230,15.509509,53872,72.772498,7.441714,0.252450,8.438521,0.000000,1.020939,1.522127,8.551752,0.235762,0.022169
3,Arden Heights-Rossville,4266.533333,123022.836526,4.344109,5547,11.934379,30539,75.487082,0.533744,0.065490,7.881725,0.088412,0.160451,0.887390,14.895707,0.627650,0.076438
4,Astoria (Central),3012.892857,99753.770961,10.717382,46478,31.552563,129518,48.189441,12.619868,0.175265,9.288284,0.006949,0.413842,2.672988,26.633364,2.017487,0.037071
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,Williamsbridge-Olinville,3314.289474,57061.063497,21.040350,57664,8.546060,114951,16.928952,48.229246,0.474985,9.212621,0.156588,0.718567,2.015641,22.263399,1.173722,0.067234
189,Williamsburg,4570.125000,119312.391337,15.759915,57774,29.705404,94307,47.328406,2.397489,0.010604,9.308959,0.033932,0.311748,3.087788,37.521075,1.473846,0.050161
190,Windsor Terrace-South Slope,2884.850000,142219.077040,7.881956,14065,24.464984,51440,66.121695,5.223561,0.000000,9.758942,0.000000,0.573484,3.339813,14.982504,2.778086,0.035691
191,Woodhaven,2885.523810,74809.918179,9.869708,40462,12.574762,114909,16.999539,7.339721,0.462975,31.157699,0.000000,0.865903,1.610840,41.563324,1.792787,0.027334
192,Woodside,3329.875000,77868.121044,7.275769,43000,16.020930,197137,16.635132,17.036376,0.139497,13.109158,0.009131,0.497116,1.596352,50.977239,1.291016,0.033302

In [95]:
sev = pd.read_csv('/Users/ananyarajesh/Desktop/MLC_Data/FINALFINAL/nta_complaint_severity_2019.csv')

In [96]:
sev = sev.drop('Unnamed: 0', axis=1)

In [97]:
MERGE = pd.merge(M, sev, on='NTAName')

In [98]:
MERGE

,NTAName,Population,Weighted Median Income,Below Poverty Line %,EAPop,Bachelor degree,Total,"White, not hispanic","Black or African American, not hispanic","American Indian and Alaska Native, not hispanic","Asain, not hispanic","Native Hawaiian and Other Pacific Islander, not hispanic","Some other race alone, not hispanic","Two or More Races, not hispanic",Hispanic or Latino,NormalizedSD,Total_NYPD_Complaints,avg_compound_score,norm_compound_score
0,Allerton,3117.473684,62141.291295,24.602712,29883,7.867349,62155,14.763092,38.169093,0.109404,4.709195,0.008044,0.933151,2.067412,39.240608,2.700146,0.061975,-0.354033,0.583604
1,Alley Pond Park,4118.636364,107518.289372,7.142857,39,0.000000,90,65.555556,3.333333,0.000000,6.666667,0.000000,0.000000,0.000000,24.444444,1.627803,0.769231,-0.355994,0.578725
2,Annadale-Huguenot-Prince's Bay-Woodrow,5090.315789,126245.529571,5.965246,35230,15.509509,53872,72.772498,7.441714,0.252450,8.438521,0.000000,1.020939,1.522127,8.551752,0.235762,0.022169,-0.388880,0.496901
3,Arden Heights-Rossville,4266.533333,123022.836526,4.344109,5547,11.934379,30539,75.487082,0.533744,0.065490,7.881725,0.088412,0.160451,0.887390,14.895707,0.627650,0.076438,-0.402048,0.464138
4,Astoria (Central),3012.892857,99753.770961,10.717382,46478,31.552563,129518,48.189441,12.619868,0.175265,9.288284,0.006949,0.413842,2.672988,26.633364,2.017487,0.037071,-0.325044,0.655731
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,Williamsbridge-Olinville,3314.289474,57061.063497,21.040350,57664,8.546060,114951,16.928952,48.229246,0.474985,9.212621,0.156588,0.718567,2.015641,22.263399,1.173722,0.067234,-0.359912,0.568977
189,Williamsburg,4570.125000,119312.391337,15.759915,57774,29.705404,94307,47.328406,2.397489,0.010604,9.308959,0.033932,0.311748,3.087788,37.521075,1.473846,0.050161,-0.295750,0.728616
190,Windsor Terrace-South Slope,2884.850000,142219.077040,7.881956,14065,24.464984,51440,66.121695,5.223561,0.000000,9.758942,0.000000,0.573484,3.339813,14.982504,2.778086,0.035691,-0.369984,0.543916
191,Woodhaven,2885.523810,74809.918179,9.869708,40462,12.574762,114909,16.999539,7.339721,0.462975,31.157699,0.000000,0.865903,1.610840,41.563324,1.792787,0.027334,-0.420834,0.417397
192,Woodside,3329.875000,77868.121044,7.275769,43000,16.020930,197137,16.635132,17.036376,0.139497,13.109158,0.009131,0.497116,1.596352,50.977239,1.291016,0.033302,-0.398079,0.474014

In [99]:
#MERGE.to_csv('mergedregressors.csv', index=False)